.cast-container {
    margin-top: 2rem;
    width: 100%; /* Full width to align under movie info */
}

.cast-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.cast-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}


.cast-item {
    min-width: 150px;
    text-align: center;
}

.cast-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  

.cast-list::-webkit-scrollbar {
    height: 8px;
}

.cast-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.cast-list::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}


.cast-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
